---
title: Jen FU 2016 prototype
---

<div class="backstretch featured">
	<%= image_tag 'largeBG.jpg', :alt => "Sugar First, logo" , :class => "source" %>
	<div class="row">
		<article class="featured copy">
			<a href="#">
				<p class="subtitle">LATEST SHOWCASE</p>
				<h2 class="title">SPEND MORE TIME WITH FRIENDS AT THE TABLE</h2>
				<p class="intro">Spin The Kozel app engages community values with location specific questions, in this social and shared experience.</p>
			</a>
		</article>
	</div>
</div>

<div class="rowFluid">
	<div class="row teaserGrid" id="projects">
		<div class="column">
			<article class="teaser large">
				<a href="#">
					<section class="contents">
						<h3 class="title sl">#UNDERARMMAGIC</h3>
						<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sapien nisi, tincidunt et vehicula eu, elementum non dui. Vivamus in dapibus lorem. ctetur consectetur iaculis. Pellentesque habitant morbi tristique senectus et netus </p>
					</section>
					<%= image_tag 'teasers/placeholder.jpg', :alt => "teaser" %>
				</a>
			</article>
		</div>

		<div class="column">
			<article class="teaser large">
				<a href="#">
					<section class="contents">
						<h3 class="title sl">#UNDERARMMAGIC</h3>
						<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sapien nisi, tincidunt et vehicula eu, elementum non dui. Vivamus in dapibus lorem. ctetur consectetur iaculis. Pellentesque habitant morbi tristique senectus et netus </p>
					</section>
					<%= image_tag 'teasers/placeholder.jpg', :alt => "teaser" %>
				</a>
			</article>
		</div>

		<div class="column">
			<article class="teaser large">
				<a href="#">
					<section class="contents">
						<h3 class="title sl">#UNDERARMMAGIC longer title possibly two lines</h3>
						<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sapien nisi, tincidunt et vehicula eu, elementum non dui. Vivamus in dapibus lorem. ctetur consectetur iaculis. Pellentesque habitant morbi tristique senectus et netus </p>
					</section>
					<%= image_tag 'teasers/placeholder.jpg', :alt => "teaser" %>
				</a>
			</article>
		</div>

		<div class="column">
			<article class="teaser large">
				<a href="#">
					<section class="contents">
						<h3 class="title sl">#UNDERARMMAGIC</h3>
						<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sapien nisi, tincidunt et vehicula eu, elementum non dui. Vivamus in dapibus lorem. ctetur consectetur iaculis. Pellentesque habitant morbi tristique senectus et netus </p>
					</section>
					<%= image_tag 'teasers/placeholder.jpg', :alt => "teaser" %>
				</a>
			</article>
		</div>

		<div class="column">
			<article class="teaser large">
				<a href="#">
					<section class="contents">
						<h3 class="title sl">#UNDERARMMAGIC</h3>
						<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sapien nisi, tincidunt et vehicula eu, elementum non dui. Vivamus in dapibus lorem. ctetur consectetur iaculis. Pellentesque habitant morbi tristique senectus et netus </p>
					</section>
					<%= image_tag 'teasers/placeholder.jpg', :alt => "teaser" %>
				</a>
			</article>
		</div>

		<div class="column">
			<article class="teaser large">
				<a href="#">
					<section class="contents">
						<h3 class="title sl">#UNDERARMMAGIC</h3>
						<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sapien nisi, tincidunt et vehicula eu, elementum non dui. Vivamus in dapibus lorem. ctetur consectetur iaculis. Pellentesque habitant morbi tristique senectus et netus </p>
					</section>
					<%= image_tag 'teasers/placeholder.jpg', :alt => "teaser" %>
				</a>
			</article>
		</div>

		<div class="column">
			<article class="teaser large">
				<a href="#">
					<section class="contents">
						<h3 class="title sl">#UNDERARMMAGIC longer title possibly two lines</h3>
						<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sapien nisi, tincidunt et vehicula eu, elementum non dui. Vivamus in dapibus lorem. ctetur consectetur iaculis. Pellentesque habitant morbi tristique senectus et netus </p>
					</section>
					<%= image_tag 'teasers/placeholder.jpg', :alt => "teaser" %>
				</a>
			</article>
		</div>
	</div>
</div>