---
title: Sugar First list
---

<div class="backstretch">
	<article class="header copy">
		<p class="subtitle">You're browsing a category:</p>
		<h2 class="title ml">Desserts</h2>
	</article>
</div>

<div class="row">
	<div class="large-4 small-6 columns">
		<article class="teaser large">
			<section class="contents">
				<h3 class="title sl"><a href="#">Red berries chocolate cake</a></h3>
				<p class="intro"><a href="#">Yeah so let’s not pretend this is me making a durable return to updating this blog. It’s just that I actually kind of like being the obnoxious baker that once every blue moon posts something. This time, I come to you with a pie that’s not really a pie, and that’s a subtle hijack of a much more difficult piece of baking: a peach and almond pie.</a></p>
				<p class="tags"><a href="#">0 Comments</a> | Categories: <a href="#">fruit</a>, <a href="#">dessert</a>, <a href="#">pie</a></p>
			</section>
			<a href="#"><%= image_tag 'teasers/m-2301.jpg', :alt => "Sugar First, teaser" %></a>
		</article>
	</div>
	<div class="large-4 small-6 columns">
		<article class="teaser large">
			<section class="contents">
				<h3 class="title sl"><a href="#">M&Ms cookies</a></h3>
				<p class="intro"><a href="#">Yeah so let’s not pretend this is me making a durable return to updating this blog. It’s just that I actually kind of like being the obnoxious baker that once every blue moon posts something. This time, I come to you with a pie that’s not really a pie, and that’s a subtle hijack of a much more difficult piece of baking: a peach and almond pie.</a></p>
				<p class="tags"><a href="#">0 Comments</a> | Categories: <a href="#">fruit</a>, <a href="#">dessert</a>, <a href="#">pie</a></p>
			</section>
			<a href="#"><%= image_tag 'teasers/xl-2204.jpg', :alt => "Sugar First, teaser" %></a>
		</article>
	</div>
	<div class="large-4 small-6 columns">
		<article class="teaser large">
			<section class="contents">
				<h3 class="title sl"><a href="#">Yellow sponge cake with caramel icing</a></h3>
				<p class="intro"><a href="#">Yeah so let’s not pretend this is me making a durable return to updating this blog. It’s just that I actually kind of like being the obnoxious baker that once every blue moon posts something. This time, I come to you with a pie that’s not really a pie, and that’s a subtle hijack of a much more difficult piece of baking: a peach and almond pie.</a></p>
				<p class="tags"><a href="#">0 Comments</a> | Categories: <a href="#">fruit</a>, <a href="#">dessert</a>, <a href="#">pie</a></p>
			</section>
			<a href="#"><%= image_tag 'teasers/l-2038.jpg', :alt => "Sugar First, teaser" %></a>
		</article>
	</div>
	<div class="large-4 small-6 columns">
		<article class="teaser large">
			<section class="contents">
				<h3 class="title sl"><a href="#">Gingerbread an apple tiramisu</a></h3>
				<p class="intro"><a href="#">Yeah so let’s not pretend this is me making a durable return to updating this blog. It’s just that I actually kind of like being the obnoxious baker that once every blue moon posts something. This time, I come to you with a pie that’s not really a pie, and that’s a subtle hijack of a much more difficult piece of baking: a peach and almond pie.</a></p>
				<p class="tags"><a href="#">0 Comments</a> | Categories: <a href="#">fruit</a>, <a href="#">dessert</a>, <a href="#">pie</a></p>
			</section>
			<a href="#"><%= image_tag 'teasers/gingerbread-tiramisu-02001.jpg', :alt => "Sugar First, teaser" %></a>
		</article>
	</div>
	<div class="large-4 small-6 columns">
		<article class="teaser large">
			<section class="contents">
				<h3 class="title sl"><a href="#">Strawberry and waffle tiramisu</a></h3>
				<p class="intro"><a href="#">Yeah so let’s not pretend this is me making a durable return to updating this blog. It’s just that I actually kind of like being the obnoxious baker that once every blue moon posts something. This time, I come to you with a pie that’s not really a pie, and that’s a subtle hijack of a much more difficult piece of baking: a peach and almond pie.</a></p>
				<p class="tags"><a href="#">0 Comments</a> | Categories: <a href="#">fruit</a>, <a href="#">dessert</a>, <a href="#">pie</a></p>
			</section>
			<a href="#"><%= image_tag 'teasers/xl-2198.jpg', :alt => "Sugar First, teaser" %></a>
		</article>
	</div>
</div>